# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Raw/private data
data/raw/
!data/raw/.gitkeep

# Large generated artifacts
data/processed/*.joblib
data/processed/*.npy
data/processed/*.pkl
data/processed/*.parquet

# Keep processed folder structure
!data/processed/.gitkeep

# Outputs
results/
